body, html {
    height: 100%;
}

body {
    width: 70%;
    height: 100%;
    margin: auto;
}

ul {
    padding: 0;
}

.firstName {
    color: lightblue;
}

.lastName {
    color: navy;
}

.skills {
    list-style: none;
}

.list {
    padding-left: 22%;
}

.time {
    width: 20%;
    float: left;
    color: lightblue;
}

.year {
    padding-bottom: 220px;
    padding-right: 10px;
}

.firstYear {
    padding-top: 12px;
}

#left {
    width: 66%;
    float: left;    
    height: 100%;
}

#right {
    width: auto;
    margin-left: 10px;
    float: left;
    background-color: #ccf2ff;
}

.content {
    margin: 10px;
}
