body {
    width: 70%;
    margin: auto;
}

ul {
    margin: 0;
}

.firstName {
    color: lightblue;
}

.lastName {
    color: navy;
}

.skills {
    list-style: none;
}

#left {
    width: 66%;
    float: left;
}

#right {
    width: auto;
    margin-left: 10px;
    float: left;
    background-color: #ccf2ff;
}
